# Loading usual packages and data from your computer

In [1]:
# These are packages
import numpy as np
import pandas as pd

In [ ]:
# This is data
df = pd.read_csv(r'your path\file.csv')

Include an 'r' letter above if you're using a Windows machine

# Looking at your data

For various exercises, I will be first creating small test dataframes to work with:

In [15]:
data = {'First Name':['Anna','Beverly','Cathy','Michael','Nigel','Stefania','Cathy'],
       'Last Name':['Borowitz','Kreishner','Jesubowich','Oberstein','Nagal','Smith','Shephler'],
        'School':['Brown','Columbia','Harvard','Princeton','Upenn','Cornell','Dartmouth'],
       'DOB':['11/03/1989','01/02/1995','05/30/1984','03/10/1991','07/22/1988','10/13/1990','12/12/1991'],
       'Salary':[120000,113000,199000,122500,150000,110000,174000],
       'Happy or no':['Y','Y','N','Y','N','N', 'Y']}
df = pd.DataFrame(data)

### Looking at overall statistics:

**High-level description:**

In [14]:
df.describe()
# By default it worked only with a numerical column

              Salary
count       7.000000
mean   141214.285714
std     34307.260095
min    110000.000000
25%    116500.000000
50%    122500.000000
75%    162000.000000
max    199000.000000

**Type of your data:**

In [16]:
df.dtypes

First Name     object
Last Name      object
School         object
DOB            object
Salary          int64
Happy or no    object
dtype: object

**First or last rows of your data**

In [ ]:
df.head()
df.tail()
# add a number inside the parenthesis to look at a specified number of rows

### Selecting rows and columns

**Select columns by name:**

In [19]:
df['School']
# only one column

0        Brown
1     Columbia
2      Harvard
3    Princeton
4        Upenn
5      Cornell
6    Dartmouth
Name: School, dtype: object

In [ ]:

# more than one column at once